trunk/assensehub/MNCCTSOAWS_.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-.--><definitions targetNamespace="http://oa.kmnc.icube.com/" name="MNCCTSOAWSService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://oa.kmnc.icube.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://oa.kmnc.icube.com/" schemaLocation="MNCCTSOAWS.xsd"/>
    </xsd:schema>
  </types>
  <message name="requestJob">
    <part name="parameters" element="tns:requestJob"/>
  </message>
  <message name="requestJobResponse">
    <part name="parameters" element="tns:requestJobResponse"/>
  </message>
  <message name="getJobStatus">
    <part name="parameters" element="tns:getJobStatus"/>
  </message>
  <message name="getJobStatusResponse">
    <part name="parameters" element="tns:getJobStatusResponse"/>
  </message>
  <message name="getConvertProfileList">
    <part name="parameters" element="tns:getConvertProfileList"/>
  </message>
  <message name="getConvertProfileListResponse">
    <part name="parameters" element="tns:getConvertProfileListResponse"/>
  </message>
  <message name="getTransferProfileList">
    <part name="parameters" element="tns:getTransferProfileList"/>
  </message>
  <message name="getTransferProfileListResponse">
    <part name="parameters" element="tns:getTransferProfileListResponse"/>
  </message>
  <message name="getMNCFTPSvr">
    <part name="parameters" element="tns:getMNCFTPSvr"/>
  </message>
  <message name="getMNCFTPSvrResponse">
    <part name="parameters" element="tns:getMNCFTPSvrResponse"/>
  </message>
  <message name="requestJobEx">
    <part name="parameters" element="tns:requestJobEx"/>
  </message>
  <message name="requestJobExResponse">
    <part name="parameters" element="tns:requestJobExResponse"/>
  </message>
  <message name="cancelJob">
    <part name="parameters" element="tns:cancelJob"/>
  </message>
  <message name="cancelJobResponse">
    <part name="parameters" element="tns:cancelJobResponse"/>
  </message>
  <portType name="MNCCTSOAWS">
    <operation name="requestJob">
      <input message="tns:requestJob"/>
      <output message="tns:requestJobResponse"/>
    </operation>
    <operation name="getJobStatus">
      <input message="tns:getJobStatus"/>
      <output message="tns:getJobStatusResponse"/>
    </operation>
    <operation name="getConvertProfileList">
      <input message="tns:getConvertProfileList"/>
      <output message="tns:getConvertProfileListResponse"/>
    </operation>
    <operation name="getTransferProfileList">
      <input message="tns:getTransferProfileList"/>
      <output message="tns:getTransferProfileListResponse"/>
    </operation>
    <operation name="getMNCFTPSvr">
      <input message="tns:getMNCFTPSvr"/>
      <output message="tns:getMNCFTPSvrResponse"/>
    </operation>
    <operation name="requestJobEx">
      <input message="tns:requestJobEx"/>
      <output message="tns:requestJobExResponse"/>
    </operation>
    <operation name="cancelJob">
      <input message="tns:cancelJob"/>
      <output message="tns:cancelJobResponse"/>
    </operation>
  </portType>
  <binding name="MNCCTSOAWSPortBinding" type="tns:MNCCTSOAWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="requestJob">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getJobStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getConvertProfileList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTransferProfileList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMNCFTPSvr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="requestJobEx">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="cancelJob">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MNCCTSOAWSService">
    <port name="MNCCTSOAWSPort" binding="tns:MNCCTSOAWSPortBinding">
      <soap:address location="http://10.20.9.150:8080/MNCCTSOA/MNCCTSOAWS"/>
    </port>
  </service>
</definitions>